@model ShauliFinalProject.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        @if (Model.ImageUrl != null && Model.ImageUrl != string.Empty)
        {
            <dt>
                <span class="post-img-title">Attached Image:</span>
            </dt>
            <dd>
                <img src="~/Images/@Model.ImageUrl" alt="Pic" />
            </dd>

        }

        @if (Model.VideoUrl != null && Model.VideoUrl != string.Empty)
            {
            <dt>
                <span class="post-img-title">Attached Video:</span>
            </dt>
            <dd>
                <video controls="controls">
                    <source src="~/Videos/@Model.VideoUrl" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
